<template>
    <v-container class="justify-center fill align-center d-flex" fill-height fluid>
        <v-progress-circular
            class="m-auto"
            indeterminate
        ></v-progress-circular>
    </v-container>
</template>

<script setup lang="ts">
import { useBlogStore } from '../stores/blogs.js';
import { useRouter } from 'vue-router';
import { useAuthStore } from '../stores/auth.js';
import { service } from '../service/main.js';
const router = useRouter();

service.auth.getToken().then(async ({ me, token }) => {
    const blogStore = useBlogStore();
    blogStore.addBlog(me, token);
    blogStore.setActiveBlog(me);

    const store = useAuthStore();
    store.setAuthed();

    router.push('/user');
});
</script>

<style scoped>
.fill {

    height: 100vh;
    width: 100vw;
}
</style>
