<template>
    <v-container
        fluid
        class="fill-height"
    >
        <v-row
            justify="center"
            class="fill-height"
        >
            <v-col cols="12" sm="8" md="6">
                <v-card>
                    <v-tabs
                        v-model="tab"
                        align-tabs="center"
                    >
                        <v-tab>
                            Indie Login
                        </v-tab>
                    </v-tabs>
                    <v-card-text>
                        <v-window v-model="tab">
                            <v-window-item value="indie-auth">
                                <IndieAuthLogin />
                            </v-window-item>
                        </v-window>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup lang="ts">
import { ref, defineAsyncComponent } from 'vue';

const IndieAuthLogin = defineAsyncComponent(() => import( '../components/auth/IndieWeb.vue'));

const tab = ref("indie-auth");
</script>

<style scoped>
.fill-height {
  height: 100vh;
}
</style>
