<template>
    <v-container>
        <UserProfile />
        <v-card>
            <router-view></router-view>
        </v-card>
    </v-container>
</template>

<script setup lang="ts">
import UserProfile from '../components/UserProfile.vue';
</script>
