<template>
    <v-container
    >
        <UserProfile />
        <v-row
            justify="center"
            class="mt-15"
        >
            <v-col
                cols="12"
                xs="12"
            >
                <v-card>
                    <v-card-text>
                        <v-tabs
                            v-model="currentTab"
                            align-tabs="center"
                        >
                            <v-tab
                                value="create"
                                :disabled="loading || isAccountPresent"
                            >
                                Create
                            </v-tab>
                            <v-tab
                                value="view"
                            >
                                View
                            </v-tab>
                            <v-tab
                                value="edit"
                                :disabled="!isAccountPresent"
                            >
                                Edit
                            </v-tab>
                            <v-tab
                                value="manage"
                                :disabled="!isAccountPresent"
                            >
                                Manage
                            </v-tab>
                        </v-tabs>
                        <v-window v-model="currentTab">
                            <v-window-item
                                value="create"
                            >
                                <CreateUser />
                            </v-window-item>
                            <v-window-item
                                value="view"
                            >
                                <ViewUser
                                    :loading="loading"
                                    :gitService="account?.gitService ?? ''"
                                    :settings="account?.settings"
                                />
                            </v-window-item>
                            <v-window-item
                                value="edit"
                            >
                                <UpdateUser
                                    :settings="account?.settings"
                                    :gitService="account?.gitService"
                                    @update="fetchUser"
                                />
                            </v-window-item>
                            <v-window-item
                                value="manage"
                            >
                                Not Implemented
                            </v-window-item>
                        </v-window>
                    </v-card-text>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { service } from '../service/main.js';

import { useBlogStore } from '../stores/blogs.js';

import UpdateUser from '../components/user/UpdateUser.vue';
import ViewUser from '../components/user/ViewUser.vue';
import CreateUser from '../components/user/CreateUser.vue';
import UserProfile from '../components/UserProfile.vue';

interface Account {
    gitService: string;
    settings: Record<string, unknown>;
}

const isAccountPresent = ref<boolean>(false);

const currentTab = ref('view');

const loading = ref(true);

const account = ref<Account | null>(null);

const blogStore = useBlogStore();

const fetchUser = async () => {
    loading.value = true;

    try {
        const result = await service.user.get();
        account.value = result;
        currentTab.value = 'view';
        isAccountPresent.value = true;
    } catch {
        // 
    }
    loading.value = false;
};

fetchUser();

blogStore.subscribeToBlogChange(fetchUser);

</script>
