<template>
    <v-layout
        v-if="Object.keys(blogAccounts).length > 0"
        class="overflow-visible"
        style="height: 56px;"
    >
        <v-bottom-navigation
            grow
        >
            <v-btn>
                <UserIcon
                    :size="40"
                />
                <SiteSwitcher />
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn
                v-if="isAuthed"
                @click="navigate('/post')"
            >
                <v-icon>mdi-typewriter</v-icon>
                Post
            </v-btn>
            <v-btn
                v-if="isAuthed"
                @click="navigate('/user')"
            >
                <v-icon>mdi-account-outline</v-icon>
                Account
            </v-btn>
            <v-spacer></v-spacer>
            <v-btn disabled></v-btn>
        </v-bottom-navigation>
    </v-layout>
</template>

<script lang="ts" setup>
import { storeToRefs } from 'pinia';
import { useRouter } from 'vue-router';
import UserIcon from '../user/UserIcon.vue';
import SiteSwitcher from './site-switcher.vue';
import { useBlogStore } from '../../stores/blogs.js';
import { useAuthStore } from '../../stores/auth.js';

const blogStore = useBlogStore();
const authStore = useAuthStore();
const router = useRouter();

const { blogAccounts } = storeToRefs(blogStore);
const { isAuthed } = storeToRefs(authStore);

const navigate = (route: string) => {
    router.push(route);
};
</script>
