<template>
    <v-menu
        activator="parent"
    >
        <v-list>
            <v-list-item
                @click="addNewBlog()"
            >
                Add new blog
            </v-list-item>
            <v-list-item
                v-for="blog in Object.keys(blogAccounts)"
                :key="blog"
                :active="isActive(blog)"
                :disabled="isActive(blog)"
                @click="setActiveSite(blog)"
            >
                {{ blog }}
            </v-list-item>
        </v-list>
    </v-menu>
</template>

<script setup lang="ts">
import { useBlogStore } from '../../stores/blogs.js';
import { storeToRefs } from 'pinia';
import { useRouter } from 'vue-router';

const store = useBlogStore();
const router = useRouter();

const { blogAccounts, activeBlog } = storeToRefs(store);

const isActive = (blog: string) => {
    return blog === activeBlog.value;
}

const setActiveSite = (blog: string) => {
    store.setActiveBlog(blog);

    router.push('/user');
}

const addNewBlog = () => {
    store.setActiveBlog(null);

    router.push('/auth');
}
</script>
