<template>
  <v-app>
    <RouterView class="mb-16" />
    <ReloadPrompt />
    <BottomNavigation v-if="!isAuthPassedPage"/>
  </v-app>
</template>

<script setup lang="ts">
import { RouterView } from 'vue-router'
import { defineAsyncComponent, computed } from 'vue';
import { useRouter } from 'vue-router';

const router = useRouter();

const isAuthPassedPage = computed(() => {
    return router.currentRoute.value.name === 'auth_passed';
});

const ReloadPrompt = defineAsyncComponent(() => import('./components/ReloadPrompt.vue'));
const BottomNavigation = defineAsyncComponent(() => import('./components/navigation/bottom-navigation.vue'));
</script>

<style>
body {
    height: 100vh;
}

#app {
    height: 100vh;
}
</style>

<style scoped>
header {
  line-height: 1.5;
  max-height: 100vh;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

nav {
  width: 100%;
  font-size: 12px;
  text-align: center;
  margin-top: 2rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header {
    display: flex;
    place-items: center;
    padding-right: calc(var(--section-gap) / 2);
  }

  .logo {
    margin: 0 2rem 0 0;
  }

  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: -1rem;
    font-size: 1rem;

    padding: 1rem 0;
    margin-top: 1rem;
  }
}
</style>
