<template>
    <v-form
        ref="form"
        @submit.prevent="login"
    >
        <v-text-field
            v-model="webAddress"
            label="Web Address"
            required
            autocomplete="off"
        ></v-text-field>
        <v-btn
            type="submit"
            color="primary"
            rounded="xl"
        >
            Login
        </v-btn>
    </v-form>
</template>

<script lang="ts">
import { ref } from 'vue';
import { baseUrl } from '../../config.js';

export default {
    name: 'IndieAuthLogin',
    setup() {
        const webAddress = ref('');

        const login = () => {
            window.location.href = `${baseUrl}/api/authenticate?webAddress=${encodeURIComponent(
                webAddress.value
            )}`;
        };

        return {
            webAddress,
            login,
        };
    },
};
</script>
