<script setup lang="ts">
import { useRegisterSW } from 'virtual:pwa-register/vue'

const {
  offlineReady,
  needRefresh,
  updateServiceWorker,
} = useRegisterSW()

const close = async () => {
  offlineReady.value = false
  needRefresh.value = false
}
</script>

<template>
    <v-card
        v-if="offlineReady || needRefresh"
        class="pwa-toast"
        role="alert"
    >
        <v-container>
            <div class="message">
                <span v-if="offlineReady">
                    App ready to work offline
                </span>
                <span v-else>
                    New content available, click on reload button to update.
                </span>
            </div>
            <v-btn
                v-if="needRefresh"
                class="button"
                color="primary"
                @click="updateServiceWorker()"
            >
                Reload
            </v-btn>
            <v-btn
                @click="close"
                class="button"
            >
                Close
            </v-btn>
        </v-container>
    </v-card>
</template>

<style scoped>
.pwa-toast {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 1rem;
  z-index: 10000;
  text-align: left;
}

.message {
    margin-bottom: 0.5rem;
}

.button {
    margin-left: 0.5rem;
}
</style>
