<template>
    <v-container
    >
        <v-row
            justify="center"
            class="mt-15"
        >
            <UserIcon
                :loading="loading"
                :src="store?.photoUrl"
                :text-content="imageText"
                :size="80"
            />
        </v-row>
        <v-row>
            <v-col
                cols="12"
                xs="12"
                class="text-center"
            >
                {{ name }}
            </v-col>
        </v-row>
        <v-row>
            <v-col
                cols="12"
                xs="12"
                class="text-center"
            >
                {{ userWebAddress }}
            </v-col>
        </v-row>
        <v-row>
            <v-col
                cols="12"
                xs="12"
                class="text-center"
            >
                {{ bio }}
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup lang="ts">
import { ref, computed } from 'vue';
import { service } from '../service/main.js';
import { useProfileStore } from '../stores/profile.js';
import UserIcon from './user/UserIcon.vue';

const store = useProfileStore();

interface Profile {
    bio?: string;
    name?: string;
    website?: string;
    photoUrl?: string;
}

let loading = ref(true);

const fetchProfile = async () => {
    if (store.fetched) {
        loading.value = false;
        return;
    }

    loading.value = true;

    const result = await service.profile.get();
    store.setProfile(result);

    loading.value = false;
};

fetchProfile();

const userWebAddress = computed(() => {
    if (loading.value) {
        return 'loading...';
    }

    if (!store?.website) {
        return 'Unable to fetch Web Address from server.';
    }

    return store.website;
});

const name = computed(() => {
    if (loading.value) {
        return 'loading...';
    }

    if (!store?.name) {
        return 'Unable to fetch Name from server.';
    }

    return store.name;
});

const bio = computed (() => {
    if (loading.value) {
        return 'loading...';
    }

    if (!store?.bio) {
        return 'Unable to fetch Bio from server.';
    }

    return store.bio;
});

const imageText = computed(() => {
    if (loading.value || !store.name) {
        return null;
    }

    return store.name.slice(0, 2);
});
</script>
