<template>
  <v-container>
    <v-list
      lines="two"
    >
      <template
        v-for="post, i in postsForList"
        :key="i"
      >
        <v-divider
          v-if="post.type === 'divider'"
          inset
        ></v-divider>
        <v-list-subheader
          v-else-if="post.type === 'subheading'"
        >
          {{ post.title }}
        </v-list-subheader>
        <v-list-item
          v-else
          lines="two"
          :title="post.title"
          :subtitle="post.subtitle"
        >
          <template
            #append
          >
            <v-btn
              variant="outlined"
              @click="navigate(`/post/view/${post.name}`)"
            >
              Open
            </v-btn>
          </template>  
        </v-list-item>
      </template>
      <VLayoutItem
        model-value
        position="bottom"
        class="text-end"
        size="88"
      >
        <div
          class="pr-8"
        >
          <VBtn
            icon="mdi-plus"
            size="large"
            color="primary"
            elevation="8"
            @click="navigate('/post/new')"
          />
        </div>
      </VLayoutItem>
    </v-list>
  </v-container>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { storeToRefs } from 'pinia';
import { service } from '../../service/main.js';
import { usePostStore } from '../../stores/post.js';
import { useRouter } from 'vue-router';
const router = useRouter();

const store = usePostStore();
const { posts } = storeToRefs(store);

const getPosts = async () => {
  const postsFromServer = await service.post.getPosts();

  store.setPosts((postsFromServer as { data: unknown[] }).data);
};

getPosts();

type ListValue = {
  type: 'subheading';
  title: string;
} | {
  type: 'divider';
  inset: boolean;
} | {
  type: 'post';
  title: string;
  subtitle: string;
  name: string;
}

const postsForList = computed(() => {
  const result: ListValue[] = [{
    type: 'subheading',
    title: 'Posts',
  }];

  const postsReference = posts?.value ?? [];

  for (const post of postsReference) {
    const name = post.name.split('_').slice(1).join(' ').slice(0, -3);
    const date = parseDate(post.name.split('_')[0]);
    
    result.push({
      type: 'post',
      title: name,
      subtitle: date.toLocaleDateString(),
      name: post.name,
    });

    result.push({
      type: 'divider',
      inset: true,
    });
  }

  result.pop();

  return result;
});

const parseDate = (dateString: string) => {
  const [year, month, day] = dateString.split('-');

  const date = new Date();

  date.setFullYear(Number(year));
  date.setMonth(Number(month));
  date.setDate(Number(day));

  return date;
}

const navigate = (route: string) => {
    router.push(route);
};
</script>
