<template>
    <div>
        <v-row
            v-for="(image, index) in images"
            :key="index"
        >
            <v-col
                cols="12"
                sm="3"
            >
                <v-img
                    v-if="image.ready"
                    :src="typeof image.ready ? image.path : ''"
                    height="7.5rem"
                />
                <div
                    v-else
                    height="7.5rem"
                    class="d-flex align-center justify-center fill-height"
                >
                    <v-progress-circular
                        color="grey-lighten-4"
                        indeterminate
                    ></v-progress-circular>
                </div>
            </v-col>
            <v-col
                cols="12"
                sm="9"
                align-self="center"
            >
                <v-btn-group border>
                    <span class="copy_string">
                        {{ createEmbedText(image.path) }}
                    </span>
                    <v-btn
                        @click="addImageToClipBoard(image.path)"
                    >
                        <v-icon icon="mdi-content-copy" />
                    </v-btn>
                </v-btn-group>
                <v-btn
                    color="error"
                    @click="removeImage(index)"
                >
                    <v-icon icon="mdi-delete-outline"></v-icon>
                </v-btn>
            </v-col>
        </v-row>
        <v-row>
            <v-col
                xs="12"
            >
                <v-form @submit.prevent="submitImages">
                    <v-file-input
                        prepend-icon="mdi-image"
                        v-model="selectedFiles"
                        label="Upload Image"
                        outlined
                        show-size
                        accept="image/*"
                        chips
                        :disabled="isImageUploading"
                    >
                        <template #append>
                            <v-tooltip
                                v-model="showTooltip"
                            >
                                <template
                                    #activator="{ props }"
                                >
                                    <v-btn
                                        @click="showTooltip = !showTooltip"
                                        variant="text"
                                        icon
                                        v-bind="props"
                                    >
                                        <v-icon>
                                            mdi-help-circle-outline
                                        </v-icon>
                                    </v-btn>
                                </template>
                                <span>
                                    To embed an image in your blog post, follow these steps:
                                    <br />
                                    1. Upload an image using the "Upload Image" button.
                                    <br />
                                    2. Wait for the image to upload.
                                    <br />
                                    3. Click the copy icon to copy the embed code.
                                    <br />
                                    4. Paste the embed code into the blog post's text input.
                                </span>
                                </v-tooltip>
                        </template>
                    </v-file-input>

                    <v-btn type="submit" color="primary">Upload Images</v-btn>
                </v-form>
            </v-col>
        </v-row>

        <v-snackbar
            v-model="snackbar"
            color="red"
            multi-line
        >
            {{ snackbarText }}

            <template v-slot:actions>
                <v-btn
                    variant="outlined"
                    @click="snackbar = false"
                 >
                     Close
                </v-btn>
            </template>
        </v-snackbar>
    </div>
</template>

<script setup lang="ts">
import { ref, reactive } from 'vue';
import { storeToRefs } from 'pinia';
import { service } from '../../service/main.js';
import { usePostStore } from '../../stores/post.js';

const store = usePostStore();
const { images } = storeToRefs(store)

const selectedFiles = ref<File[] | undefined>(undefined);

let isImageUploading = ref(false);
let snackbar = ref(false);
let snackbarText = ref('');
let showTooltip = ref(false);

interface ImageData {
    path: string;
    ready: boolean;
}

const removeImage = (index: number) => store.removePhoto(index);

const submitImages = async () => {
    const file = selectedFiles.value?.[0];

    if (!file) {
        return;
    }

    isImageUploading.value = true;

    const image: ImageData = {
        path: '',
        ready: false,
    };

    const reactiveImage = reactive(image);

    const result = await service.image.uploadImage(file);

    const interval = setInterval(async () => {
        const imageResult = await fetch(result.path);

        if (imageResult.ok) {
            reactiveImage.ready = true;
            clearInterval(interval);
        }
    }, 10_000);

    reactiveImage.path = new URL(result.path).pathname;

    store.addPhotos([image]);

    selectedFiles.value = undefined;
    isImageUploading.value = false;
};

const createEmbedText = (path: string) => {
    return `![](${path})`;
}

const addImageToClipBoard = async (path: string) => {
    const text = `![](${path})`;
    try {
        await navigator.clipboard.writeText(text);
        snackbarText.value = `Copied to clipboard.`;
        snackbar.value = true;
    } catch (error) {
        snackbarText.value = `Unable to access clipboard. Please select and copy the value.`;
        snackbar.value = true;
    }
}

</script>

<style scoped>
.copy_string {
    padding: 0.75rem;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
</style>
