<template>
    <v-expansion-panels>
        <v-expansion-panel
            title="Markdown cheat sheet"
        >
            <v-expansion-panel-text>
            <v-container>
                <v-row>
                    <v-col :md="6" :cols="12">
                        <h2>Headers</h2>
                        <v-card>
                            <v-card-text>
                                <v-list>
                                    <v-list-item v-for="level in 6" :key="level">
                                        <div :class="'text-h' + level" class="no-wrap">
                                            {{ repeat("#", level) }} Header {{ level }}
                                        </div>
                                    </v-list-item>
                                </v-list>
                            </v-card-text>
                        </v-card>
                    </v-col>
                    <v-col :md="6" :cols="12">
                        <h2>Emphasis</h2>
                        <v-card>
                            <v-card-text>
                                <v-list>
                                    <v-list-item>
                                        <v-list-item-title :tag="'em'">
                                            *Italic Text*
                                        </v-list-item-title>
                                    </v-list-item>
                                    <v-list-item>
                                        <v-list-item-title :tag="'strong'">
                                            <b>
                                                **Bold Text**
                                            </b>
                                        </v-list-item-title>
                                    </v-list-item>
                                    <v-list-item>
                                        <v-list-item-title :tag="'em'">
                                            _Italic Text_
                                        </v-list-item-title>
                                    </v-list-item>
                                    <v-list-item>
                                        <v-list-item-title :tag="'strong'">
                                            <b>
                                                __Bold Text__
                                            </b>
                                        </v-list-item-title>
                                    </v-list-item>
                                </v-list>
                            </v-card-text>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
            </v-expansion-panel-text>
        </v-expansion-panel>
    </v-expansion-panels>
</template>

<script setup lang="ts">
const repeat = (character: string, times: number) => {
    return new Array(times).fill(character).join('');
}
</script>

<style scoped>
.no-wrap {
    white-space: nowrap;
}
</style>
