<template>
  <v-container>
    <v-row>
      <MarkdownGuide />
    </v-row>
    <v-row
      justify="center"
      align="center"
      class="fill-height"
    >
      <v-col
        cols="12"
        xs="12"
      >
        <PostInput />
      </v-col>
    </v-row>

    <v-row
      justify="center"
      align="center"
      class="fill-height"
    >
      <v-col
        cols="12"
        xs="12"
      >
        <ImageUpload />
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import ImageUpload from './image-upload.vue';
import PostInput from './post-input.vue';
import MarkdownGuide from './markdown-guide.vue';
</script>
