<template>
  <v-container>
    <v-card-title>
      <h2>
        {{ title }}
      </h2>
    </v-card-title>
    <v-card-text>
      <v-row
        v-for="p, i of content"
        :key="i"
      >
        <v-col>
          {{ p }}
        </v-col>
      </v-row>
    </v-card-text>
  </v-container>
</template>

<script setup lang="ts">
import { service } from '../../service/main.js';
import { useRoute } from 'vue-router';
import { ref } from 'vue';

const route = useRoute();
const title = ref('');
const content = ref([]);

const isObject = (obj: unknown): obj is Record<string, unknown> => {
  return typeof obj === 'object' && obj !== null && !Array.isArray(obj);
}

const init = async () => {
  const postName = route.params.postName;

  if (Array.isArray(postName)) {
    return;
  }

  const post = await service.post.getAPost(postName);

  if (typeof post !== 'object' || Array.isArray(post) || post === null) {
    return
  }

  if ('content' in post && isObject(post.content)) {
    const content = post.content;

    if (!isObject(content)) {
      return;
    }

    if ('headData' in content) {
      const headData = content.headData;

      if (!isObject(headData) || !('title' in headData) || typeof headData.title !== 'string') {
        return;
      }
      
      title.value = headData.title;
    }

    if ('content' in content && typeof content.content === 'string') {
      content.value = content.content.split('\n');
    }
  }
}

init();
</script>
