<template>
    <v-form @submit.prevent="submitPost">
        <v-text-field
            :model-value="store.title"
            label="Blog Post Title"
            outlined
            :disabled="isPosting"
            @input="updateTitle($event.target.value)"
        ></v-text-field>

        <v-textarea
            :model-value="content"
            label="Blog Post Content (Markdown)"
            counter
            auto-grow
            outlined
            rows="10"
            :disabled="isPosting"
            @change="updateContent($event.target.value)"
        ></v-textarea>

        <v-btn
            type="submit"
            color="primary"
            :disabled="isPosting"
        >
            Upload Post
        </v-btn>
    </v-form>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { storeToRefs } from "pinia";
import { service } from '../../service/main.js';
import { usePostStore } from '../../stores/post.js';

const store = usePostStore();
const { content, title } = storeToRefs(store);

const isPosting = ref(false);

const updateTitle = (title: string) => store.setTitle(title);
const updateContent = (content: string) => store.setContent(content);

const submitPost = async () => {
    isPosting.value = true;

    if (content === undefined) {
        return;
    }

    await service.post.uploadPost({
        title: title.value,
        content: content.value,
    });

    title.value = "";
    content.value = "";

    isPosting.value = false;
};
</script>
