<template>
    <v-container
        fluid
    >
        <v-row
            justify="center"
            align="center"
            class="fill-height"
        >
            <v-col
                cols="12"
                xs="12"
            >
                <v-form
                    ref="form"
                    @submit.prevent="update"
                >
                    <v-select
                        label="Git Service"
                        :items="gitServices"
                        v-model="gitService"
                        :rules="serviceRules"
                        :loading="loading"
                    >
                    </v-select>
                    <HostGitLab
                        v-if="gitService === 'GitLab'"
                        v-model="settings"
                        :loading="loading"
                    />
                    <v-btn
                        type="submit"
                        color="primary"
                        rounded="xl"
                    >
                        Save
                    </v-btn>
                </v-form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { service } from '../../service/main.js';
import HostGitLab from '../hosts/gitlab/gitlab-input-settings.vue';

const emit = defineEmits(['update']);

const gitServices = ["GitLab"];

let gitService = ref<string | null>(null);
let settings = ref({});

let loading = ref(false);

const serviceRules = [
    (value: unknown) => {
        if (value) {
            return true;
        }

        return "Please select a service.";
    },
    (value: unknown) => {
        if (gitServices.includes(value as string)) {
            return true;
        }

        return "Invalid Service selected";
    }
];

const update = async (event: Promise<{ valid: boolean }>) => {
    loading.value = true;

    const result = await event;

    loading.value = false;

    if (!result.valid) {
        return;
    }

    if (!gitService.value || !settings.value) {
        return;
    }

    await service.user.create({
        gitService: gitService.value,
        settings: settings.value,
    });

    emit('update');
};
</script>

<style scoped>
.fill-height {
  height: 100vh;
}
</style>
