<template>
    <v-container
        fluid
        class="fill-height"
    >
        <v-row
            justify="center"
            align="center"
            class="fill-height"
        >
            <v-col
                cols="12"
                xs="12"
            >
                <v-form
                    ref="form"
                    @submit.prevent="update"
                >
                    <v-select
                        label="Git Service"
                        :items="gitServices"
                        v-model="gitServiceLocal"
                        :rules="serviceRules"
                        :loading="loading"
                    >
                    </v-select>
                    <HostGitLab
                        v-if="gitServiceLocal === 'GitLab'"
                        v-model="settingsLocal"
                        :loading="loading"
                    />
                    <v-btn
                        type="submit"
                        color="primary"
                        rounded="xl"
                    >
                        Save
                    </v-btn>
                </v-form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script setup lang="ts">
import { ref, toRefs, watch } from 'vue';
import { service } from '../../service/main.js';
import HostGitLab from '../hosts/gitlab/gitlab-input-settings.vue';

const gitServices = ["GitLab"];

interface Props {
    gitService: string | undefined;
    settings: Record<string, unknown> | undefined;
}

const props = defineProps<Props>();

const { settings } = toRefs(props);

const emit = defineEmits(['update']);

let gitServiceLocal = ref(props.gitService);
let settingsLocal = ref(props.settings);

watch(settings, () => {
    settingsLocal.value = props.settings;
    gitServiceLocal.value = props.gitService;
});

let loading = ref(false);

const serviceRules = [
    (value: unknown) => {
        if (value) {
            return true;
        }

        return "Please select a service.";
    },
    (value: unknown) => {
        if (gitServices.includes(value as string)) {
            return true;
        }

        return "Invalid Service selected";
    }
];

const update = async (event: Promise<{ valid: boolean}>) => {
    loading.value = true;

    const result = await event;

    loading.value = false;

    if (!result.valid) {
        return;
    }

    if (settingsLocal.value === undefined || gitServiceLocal.value === undefined) {
        return;
    }

    await service.user.update({
        gitService: gitServiceLocal.value,
        settings: settingsLocal.value,
    });

    emit('update');
};
</script>

<style scoped>
.fill-height {
  height: 100vh;
}
</style>
