<template>
    <v-avatar
        color="info"
        :size="size"
    >
        <v-skeleton-loader
            v-if="loading"
            type="image"
        ></v-skeleton-loader>
        <v-img
            v-else-if="src?.length > 0"
            :src="src"
            :alt="alt"
        ></v-img>
        <span
            v-else-if="textContent?.length > 0"
            class="text-h5"
        >
            {{ textContent }}
        </span>
        <v-icon
            v-else
            icon="mdi-account-circle"
            class="icon"
            :size="placeHolderSize"
        ></v-icon>
    </v-avatar>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { VSkeletonLoader } from 'vuetify/labs/VSkeletonLoader';
const props = defineProps([
    'loading',
    'src',
    'textContent',
    'alt',
    'size'
]);

const placeHolderSize = computed(() => {
    return props.size * 0.875;
});
</script>
