<template>
    <v-container
        class="fill-height"
    >
        <v-row
            justify="center"
            align="center"
        >
            <v-col
                cols="6"
                xs="6"
            >
                Git Service:
            </v-col>
            <v-col
                cols="6"
                xs="6"
            >
                {{ gitServiceLocal }}
            </v-col>
        </v-row>
            <ViewHostGitLab
                v-if="gitServiceLocal === 'GitLab'"
                :loading="loading"
                :settings="settings"
            />
    </v-container>
</template>

<script setup lang="ts">
import { computed, toRefs } from 'vue';
import ViewHostGitLab from '../hosts/gitlab/gitlab-view-settings.vue';

interface Props {
    loading: boolean;
    gitService: string;
    settings: Record<string, unknown> | undefined;
};

const props = defineProps<Props>();

const {
    loading,
    gitService,
    settings
} = toRefs(props);

const gitServiceLocal = computed<string>(() => {
    if (loading.value) {
        return 'Loading...';
    }

    if (gitService?.value !== undefined) {
        return gitService.value;
    }

    return 'No User Account';
});
</script>

<style scoped>
.fill-height {
  height: 100vh;
}
</style>

