<template>
    <div>
        <v-text-field
            :modelValue="modelValue.repositoryId"
            label="Repository ID"
            required
            autocomplete="off"
            type="number"
            :rules="respositoryRules"
            :loading="loading"
            @input="updateValue('repositoryId', $event.target.value)"
        ></v-text-field>
        <v-text-field
            :modelValue="modelValue.branchName"
            label="Branch Name"
            required
            autocomplete="off"
            :rules="branchRules"
            :loading="loading"
            @input="updateValue('branchName', $event.target.value)"
        ></v-text-field>
        <v-text-field
            :value="modelValue.apiKey"
            label="Project Access Token"
            required
            autocomplete="off"
            :rules="tokenRules"
            :loading="loading"
            @input="updateValue('apiKey', $event.target.value)"
        ></v-text-field>
        <v-text-field
            label="Pipeline Trigger Token"
            required
            autocomplete="off"
            :rules="tokenRules"
            :loading="loading"
            @input="updateValue('pipelineToken', $event.target.value)"
        ></v-text-field>
    </div>
</template>

<script setup lang="ts">
const props = defineProps([
    "loading",
    "modelValue",
]);

const emit = defineEmits([
    'update:modelValue',
]);

const updateValue = (field: string, value: string) => {
    const localSettings = JSON.parse(JSON.stringify(props.modelValue));

    localSettings[field] = value;
    localSettings.repositoryId = Number(localSettings.repositoryId);

    emit('update:modelValue', localSettings);
}

const tokenRules = [
    (value: unknown) => {
        if (value) {
            return true;
        }

        return "Please enter a token.";
    }
];

const respositoryRules = [
    (value: unknown) => {
        if (!isNaN(Number(value))) {
            return true;
        }

        return "Respository ID must be a number.";
    },
    (value: unknown) => {
        if (value !== 0 && !value) {
            return "A Respository ID is required.";
        }

        return true;
    }
]

const branchRules = [
    (value: unknown) => {
        if (value) {
            return true;
        }

        return "Please enter a branch name.";
    }
];
</script>
