<template>
    <v-row>
        <v-col
            cols="6"
            xs="6"
        >
            Repository ID:
        </v-col>
        <v-col
            cols="6"
            xs="6"
        >
            {{ repositoryId}}
        </v-col>
        <v-col
            cols="6"
            xs="6"
        >
            Branch Name:
        </v-col>
        <v-col
            cols="6"
            xs="6"
        >
            {{ branchName}}
        </v-col>
        <v-col
            cols="6"
            xs="6"
        >
            API Key:
        </v-col>
        <v-col
            cols="6"
            xs="6"
        >
            {{ loading ? 'Loading...' : '***************' }}
        </v-col>
        <v-col
            cols="6"
            xs="6"
        >
            Pipeline Token:
        </v-col>
        <v-col
            cols="6"
            xs="6"
        >
            {{ loading ? 'Loading...' : '***************' }}
        </v-col>
    </v-row>
</template>

<script setup lang="ts">
import { computed, toRefs } from 'vue';

interface Props {
    loading: boolean;
    settings: Record<string, unknown> | undefined;
}

const props = defineProps<Props>();

const {
    loading,
    settings,
} = toRefs(props);

const getValue = (value: string) => {
    if (loading.value) {
        return 'Loading...';
    }

    if (settings?.value === undefined) {
        return 'No User Account';
    }

    if (settings.value[value] === undefined) {
        return 'No value';
    }

    return settings.value[value];
}

const repositoryId = computed(() => getValue('repositoryId'));

const branchName = computed(() => getValue('branchName'));

const pipelineToken = computed(() => getValue('pipelineToken'));

</script>
