:root {
    --color-text: #183D31;
}

body {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='320px' width='320px' transform='rotate(315 130 -120)'><text x='0' y='15' fill='grey' fill-opacity='0.4' font-size='20'>ALPHA, WORK IN PROGRESS</text></svg>");
}
